.HeaderContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 13vh;
    top: 0;
    border-bottom: 1px solid #fff;
}

.HeaderTitle{
    position: absolute;
    fill: white;
    width: 16vw;
    margin: auto;
    left: 42vw;
}