.SPortContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 40vw;
}

.SPortButtons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.SPortSelect {
    width: 7vw;
}

.ledPort{
    width: 10px;
    height: 10px;
    border-radius: 5px;
}