.App {
  display: flex;
  align-items:flex-end;
  justify-content: center;
  height: 100%;
}

.ButtonDefault {
  background-color: rgb(56, 56, 56);
  border: 0px;
  width: 5vw;
  margin: 3px;
  padding: 4px;
  border-radius: 7px;
  color: white;
}